body {
  font-family: sans-serif;
  padding: 2em 10em;
}


/* Controls at the top */
form { margin: 20px 0; }

#form tr {
  vertical-align: middle;
}

#form th {
  text-align: right;
  padding: 0.5em 0.5em;
}



/* Results */

#results {
  margin-top: 1em;
  padding: 0.3em 1em;
  border: 1px solid rgb(100,100,100);
  border-radius: 5px;
  background: rgb(230,230,230);
  box-shadow: 2px 2px 2px #888888;
  overflow: auto;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
}
#results h2 {
  font-size: 1.1em;
  font-style: italic;
  text-decoration: underline;
}
#results > div div {
  margin: 0.6em;
}
.info {
 /* color: rgb(198,165,142); */
   color: rgb(132,110,95);
}
.warn {
  color: #A33;
}
.error {
  color: red;
}

#lint-container {
    overflow-x: auto;
}
#lint {
    color: red;
}

table.results {
  border-collapse: collapse;
}

table.results th { 
  text-align: left; 
}

table.results th,
table.results td {
  border: 1px solid black;
  padding: .2em;
}



/* 
  The following css rules are by syssgx (https://github.com/syssgx)
  and are licensed CC-BY.
  See https://github.com/syssgx/xml.js/blame/gh-pages/css/style.css.
*/
.files_wrapper {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(221,221,221);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.files_wrapper:hover {
  background: #ebebeb;
  -moz-box-shadow:    0px 0px 3px black;
  -webkit-box-shadow: 0px 0px 3px black;
  box-shadow:         0px 0px 3px black;
}

.xmlarea_file {
  border: 2px dashed rgb(221,221,221);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font-size: 14px;
}
  
.xmlarea_file:hover { 
  border: 2px solid white; 
}

.dropped {
  background: #B9B9F4;
  border: 2px solid #2222D3;
}
/* End CC-BY licensed code. */


/* Status */

#status {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(221,221,221);
  letter-spacing: 0.1em;
}

.status-busy {
  background-color: rgb(164,191,207);
  font-style: italic;
}
.status-neutral {
  background-color: rgb(164,191,207);
}
.status-good {
  background-color: rgb(197,221,175);
}
.status-info {
  background-color: rgb(198,165,142);
}
.status-warn {
  background-color: rgb(200,110,110);
}
.status-error {
  background-color: rgb(200,0,0);
  color: white;
}

